fastapi
uvicorn
requests
beautifulsoup4
numpy
pandas
scikit-learn
pypdf
pydantic
python-dotenv

langchain>=0.1.14
langchain-openai
langchain-community>=0.0.20
langchain-deepseek>=0.0.3

sentence-transformers
faiss-cpu
